
.vs/config/applicationhost.config
.vs/SocialLacasa/v15/.suo
.vs/SocialLacasa/v15/Server/sqlite3/db.lock
.vs/SocialLacasa/v15/Server/sqlite3/storage.ide
.vs/SocialLacasa/v15/Server/sqlite3/storage.ide-shm
.vs/SocialLacasa/v15/Server/sqlite3/storage.ide-wal
SocialLacasa/obj/Debug/SocialLacasa.csproj.CoreCompileInputs.cache
SocialLacasa/bin/SocialLacasa.dll
SocialLacasa/bin/SocialLacasa.pdb
SocialLacasa/obj/Debug/SocialLacasa.csprojAssemblyReference.cache
*.cache
*.pdb
SocialLacasa/obj/Debug/SocialLacasa.csproj.CoreCompileInputs.cache
SocialLacasa/obj/Debug/SocialLacasa.csproj.CoreCompileInputs.cache
SocialLacasa/obj/Debug/SocialLacasa.csproj.FileListAbsolute.txt
*.txt
*.pdb
*.pdb
*.txt
*.dll
