
@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @{
        Html.RenderPartial("_UserTopMenu");
    }
</div>
<div>
    @{
        Html.RenderPartial("_sidenav");
    }
</div>
<div class="content-wrapper">
    <div >
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <!--<img class="img-responsive" src="//i.imgur.com/S2B3tiO.png"/>-->
                    <!--<img class="img-responsive" src="//i.imgur.com/gaagkJt.png" />-->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-2 centered">
                    <div style="height:12px;"></div>
                    <div class="well ">
                        <h1 class="h1_font"><strong>Terms Of Services</strong></h1>
                        <div class="underline">
                            <div class="line"></div>
                        </div >
                        <p style="text-align:justify";><font color="#ff0000">Terms&nbsp;</font></p><p style="text-align:justify";></p><p style="text-align:justify";>&nbsp;The use of services provided by SocialLacasa establishes agreement to these terms.</p><p style="text-align:justify";></p><p style="text-align:justify";>&nbsp;By registering or using our services you agree that you have read and fully understood the following terms of Service&nbsp;</p><p style="text-align:justify";></p><p style="text-align:justify";>SocialLacasa will not be held liable for loss in any way for users who have not read the below terms of service.</p><p style="text-align:justify";></p><p style="text-align:justify";><font color="#ff0000">1. General</font></p><p style="text-align:justify";>&nbsp;By placing an order with SocialLacasa , you automatically accept all the below listed term of services weather you read them or not.</p><p style="text-align:justify";></p><p style="text-align:justify";>&nbsp;We reserve the right to change these terms of service without notice. You are expected to read all terms of service before placing every order to insure you are up to date with any changes or any future changes.</p><p style="text-align:justify";></p><p style="text-align:justify";>&nbsp;You will only use the SocialLacasa, website in a manner which follows all agreements made with Instagram/facebook./twitter/youtube/other social media site on their individual Terms of Service page.</p><p style="text-align:justify";></p><p style="text-align:justify";>SocialLacasa,&nbsp; rates are subject to change at any time without notice. The payment/refund policy stays in effect in the case of rate changes.</p><p style="text-align:justify";></p><p style="text-align:justify";>SocialLacasa , does not guarantee a delivery time for any services. We offer our best estimation for when the order will be delivered.</p><p style="text-align:justify";></p><p style="text-align:justify";>&nbsp;This is only an estimation and&nbsp; SocialLacasa , will not refund orders that are processing if you feel they are taking too long.</p><p style="text-align:justify";></p><p style="text-align:justify";>SocialLacasa , tries hard to deliver exactly what is expected from us by our re-sellers. In this case, we reserve the right to change a service type if we deem it necessary to complete an order.</p><p style="text-align:justify";><font color="#ff0000"></font></p><p style="text-align:justify";><font color="#ff0000">Disclaimer:&nbsp;</font></p><p style="text-align:justify";></p><p style="text-align:justify";>SocialLacasa , will not be responsible for any damages you or your business may suffer.</p><p style="text-align:justify";></p><p style="text-align:justify";><font color="#ff0000">Liabilities:</font></p><p style="text-align:justify";>SocialLacasa is in no way liable for any account suspension or picture deletion done by Instagram or Twitter or Facebook or YouTube or Other Social Media.</p><p style="text-align:justify";></p><p style="text-align:justify";><font color="#ff0000">2. Service</font></p><p style="text-align:justify";></p><p style="text-align:justify";>SocialLacasa, will only be used to promote your Instagram/Twitter/Facebook or Social account and help boost your "Appearance" only.</p><p style="text-align:justify";></p><p style="text-align:justify";>&nbsp; We DO NOT guarantee your new followers will interact with you, we simply guarantee you to get the followers you pay for.</p><p style="text-align:justify";></p><p style="text-align:justify";>&nbsp;We DO NOT guarantee 100% of our accounts will have a profile picture, full bio and uploaded pictures, although we strive to make this the reality for all accounts.</p><p style="text-align:justify";></p><p style="text-align:justify";>&nbsp;You will not upload anything into the SocialLacasa, site</p><p style="text-align:justify";></p><p style="text-align:justify";>&nbsp; &nbsp;including nudity or any material that is not accepted or suitable for the Instagram/Twitter/Facebook or Social Media community.</p><p style="text-align:justify";></p><p style="text-align:justify";><font color="#ff0000">Private accounts would not a get a refund! Please insure that your account is public before ordering.</font></p><div></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
