/* ==========================================================================
   Hassan custom styles
   ========================================================================== */
html {
    overflow-y: scroll;
}

body {
    min-height: 100%;
    height: 100%;
    font-family: "San-Francisco-Pro";
}

body {
    /*background-image: url('//i.imgur.com/an4w8si.png');*/
    background-image: url('/Images/back.png');
    background-size: 100%;
    background-repeat: repeat-y;
    /*background-image: url('//i.imgur.com/ZzEvqMK.png');*/
    background-color: #051997;
    
    padding: 0;
    color: black;
}

.not-authenticate {
    padding-top: 30px;
    min-height: 100vh;
}

.not-authenticate,
.content-wrapper {
    /*background-image: url('https://i.imgur.com/tPIYvN5.jpg');*/
    /*background-image: url('//i.imgur.com/PCFMg8k.png');*/
     background-image: url('/Images/bulb.png');
    background-size: 6%;
    background-repeat: no-repeat;
    /*background-position: 97% 95%;*/
    background-position: 97% 58%;
    /*background-size: cover;*/
    height: 100%
}

a {
    color: white;
    
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

    a:hover, a:focus {
        color: black;
    }

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5,
h6,
p {
    color: #051997;
    opacity: 1.0;
}
p {
    font-family: 'Lato',sans-serif;
}

pre {
    background: black;
    color: #ffffff;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    background: #ffffff;
}

    .bootstrap-datetimepicker-widget.dropdown-menu .picker-switch,
    .bootstrap-datetimepicker-widget.dropdown-menu .prev,
    .bootstrap-datetimepicker-widget.dropdown-menu .next,
    .bootstrap-datetimepicker-widget.dropdown-menu .dow {
        background: #ffffff;
        color: #181818;
    }

    .bootstrap-datetimepicker-widget.dropdown-menu table > tbody > tr > td {
        border: none;
    }

.alert-success {
    background-color: #2F0909;
}

.input-group .btn.btn-default {
    background: black;
    color:white;
    border-color:transparent;
}

    .input-group .btn.btn-default:hover {
        /*background: #2F0909;*/
    }

.btn.btn-primary {
    display: inline-block;
    position: relative;
    background-color: #051997;
    color: ff0000;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 40px;
    border-color: #eb5a1a;
    padding: 10px 35px 10px 35px;
}

    .btn.btn-primary:hover {
        /*background: #2F0909;*/
        /* background: #2F0909;*/
        transition: all 1s ease-in-out;
    }

    .btn.btn-primary span {
        display: block;
        /*padding: 8px 12px;*/
        padding: 0;
    }

    .btn.btn-primary::before,
    .btn.btn-primary::after {
        content: "";
        width: 0;
        height: 2px;
        position: absolute;
        transition: all 0.2s linear;
        transition-delay: 0s;
        /*background: #2F0909;*/
        background: #2F0909;
    }

    .btn.btn-primary::before {
        right: 0;
        top: 0;
    }

    .btn.btn-primary::after {
        left: 0;
        bottom: 0;
    }

    .btn.btn-primary span::before,
    .btn.btn-primary span::after {
        content: "";
        width: 2px;
        height: 0;
        position: absolute;
        transition: all 0.2s linear;
        transition-delay: 0.2s;
        /*background: #2F0909;*/
        background: #2F0909;
    }

    .btn.btn-primary span::before {
        left: 0;
        top: 0;
    }

    .btn.btn-primary span::after {
        right: 0;
        bottom: 0;
    }

    .btn.btn-primary:hover::before,
    .btn.btn-primary:hover::after {
        width: 100%;
        transition-delay: 0.2s;
    }

    .btn.btn-primary:hover span::before,
    .btn.btn-primary:hover span::after {
        height: 100%;
        transition-delay: 0s;
    }

.img-responsive {
    width: 100%;
}
/* NAVBAR */
.navbar-default {
    margin: 0;
    /*background-color:#bab5c6;*/
    background-color: #010b4a;
    
    border: none;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2);
    -o-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2);
}

.navbar-brand {
    height: 90px;
    font-size: 18px;
    line-height: 60px;
    padding: 0 0 0 0;
    margin:0 0 0 0;
}

    .navbar-brand img {
        max-height: 90px;
        padding: 0 0 0 30px;
        margin: 0 0 0 0;
    }

.navbar-default .navbar-toggle {
    margin: 11px 12px;
    position: relative;
    width: 45px;
    height: 40px;
}

    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        /* background-color: transparent;*/
    }

    .navbar-default .navbar-toggle .icon-bar {
        display: block;
        position: absolute;
        height: 5px;
        width: 50%;
        background: #eb5a1a;
        margin: 0;
        opacity: 1;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .navbar-default .navbar-toggle.open .icon-bar {
        background: #2F0909;
    }

.navbar-toggle span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

.navbar-toggle span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
}

.navbar-toggle span:nth-child(1),
.navbar-toggle span:nth-child(2) {
    top: 6px;
}

.navbar-toggle span:nth-child(3),
.navbar-toggle span:nth-child(4) {
    top: 17px;
}

.navbar-toggle span:nth-child(5),
.navbar-toggle span:nth-child(6) {
    top: 29px;
}

.navbar-toggle.open span:nth-child(1),
.navbar-toggle.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navbar-toggle.open span:nth-child(2),
.navbar-toggle.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.navbar-toggle.open span:nth-child(1) {
    left: 0px;
    top: 9px;
}

.navbar-toggle.open span:nth-child(2) {
    left: calc(50% - 7px);
    top: 9px;
}

.navbar-toggle.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

.navbar-toggle.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

.navbar-toggle.open span:nth-child(5) {
    left: 0px;
    top: 25px;
}

.navbar-toggle.open span:nth-child(6) {
    left: calc(50% - 6px);
    top: 25px;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
    /* color: #DD4827;*/
    ;
    line-height: 43px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    /*color: #ffffff;*/
    color: #DD4827;
    /*background-color: #2F0909;*/
    /* background-color: #2F0909;*/
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    /*color: #ffffff;*/
    color: #DD4827;
    /*background-color: #2F0909;*/
    /*  background-color: #2F0909;*/
}

.navbar-right > li > a > img {
    /*filter: invert(1);*/
    width: 15px;
    margin-right: 8px;
}

.navbar-right > li > a > .fa {
    margin-right: 8px;
    font-size: 14px;
}

.navbar-right > li > a:hover img,
.navbar-right > li.active a:hover img,
.navbar-right > li.active a img {
    /*filter: invert(0);*/
}

.navbar .nav > li > a .badge {
    /*background: #2F0909;*/
    /*background: #2F0909;*/
    /* background: #fbd634;*/
    background-color: #ff0000;
    color: #051997;
    
    font-weight: 900;
}

.navbar .nav > li > a:hover .badge {
    /*background: #ffffff;*/
    color: white;
}

.form-control {
    /*color: black;
  background-color: #2F09094d;*/
    color: black;
    background-color: white;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
    border: none;
    box-shadow:none;
    border-radius:0;
}

    .form-control[readonly] {
        /*color: black;	
  background-color: #2F09094d;*/
        color: #ffffff;
        background-color: #eee;
    }

input.form-control:focus {
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
    background-color: #ffffff;
    border-bottom: 1px solid #2F0909;
    color: #353553;
}

.form-control[readonly]:focus {
    color: #ffffff;
    background-color: #eee;
    border: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

textarea.form-control {
    min-height: 180px;
    resize: vertical;
    height: 180px;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    transition: all .4s ease-in;
}

    textarea.form-control:focus {
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
        transform: scale(1.01);
        background-color: #ffffff;
        border-bottom: 1px solid #2F0909;
        color: #353553;
    }

label,
.radio label,
.checkbox label,
.help-block {
    font-size: 14px;
    font-weight: 900;
}

label {
    color: #051997;
    
}

.well {
    /*background-color: #bab5c6;*/
    /*background-color: #ffffff;*/
    /*background-color: #fad534;*/
    /*background-color: #efde94;*/
    /*background-color: #f2e942;*/
    background-color: #ff0000;
    /* -webkit-box-shadow: 0 0 20px rgba(250,213,52,.6), inset 0 0 20px rgba(250,213,52,1);
    -moz-box-shadow: 0 0 20px rgba(250,213,52,.6), inset 0 0 20px rgba(250,213,52,1);
    -ms-box-shadow: 0 0 20px rgba(250,213,52,.6), inset 0 0 20px rgba(250,213,52,1);
    -o-box-shadow: 0 0 20px rgba(250,213,52,.6), inset 0 0 20px rgba(250,213,52,1);
    box-shadow: 0 0 40px rgba(106,69,196,.6), inset 0 0 40px rgba(250,213,52,1);
    box-shadow: 0 0 20px rgba(250,213,52,.6), inset 0 0 20px rgba(250,213,52,1);*/
    border: none;
}

table {
    font-size: 14px !important;
    background-color: #ff0000;
    overflow-x:scroll;
    /*opacity:0.5;*/
    /*filter: alpha(opacity=50);*/
}

    table > thead > tr > th {
        color: #eb5a1a;
        background: #051997;
     
    }

.aloneHsnTd {
    /*background: #2F0909;*/
    background: #051997;
    color: #ff0000;
}

table > tbody > tr > td {
    color: #051997;
    
    font-size: 14px;
}

table > tbody > tr > td,
.table > tbody > tr > td {
    border-top: 1px solid #2F0909;
}
.nav > li {
    position: relative;

}

.nav-pills > li > a {
    background: #051997;
    
    color: #ff0000;
}




.nav > li > a:hover,
.nav > li > a:focus {
    /*background: #2F0909;*/
    /* background: #2F0909;*/
    color: white;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    /*background: #2F0909;*/
    /* background: #2F0909;*/
    color: #eb5a1a;
}
/*SIDEBAR FOR DASHBOARD*/
.content-wrapper .container {
    width: 100%;
}

.content-wrapper {
    padding-left: 200px;
    /*overflow: hidden;*/
    padding-top: 95px;
    min-height: 100vh;
}

#sidebar-wrapper {
    top: 62px;
    left: -200px;
    width: 200px;
    color: white;
    position: fixed;
    height: 100%;
    z-index: 1;
    /*background: #bab5c6;*/
    background-color: #010b4a;
    -webkit-box-shadow: 0 10px 5px 5px rgba(0,0,0,0.14),0 1px 0 0 rgba(0,0,0,0.12),0 5px 4px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 10px 5px 5px rgba(0,0,0,0.14),0 1px 0 0 rgba(0,0,0,0.12),0 5px 4px -1px rgba(0,0,0,0.2);
    -ms-box-shadow: 0 10px 5px 5px rgba(0,0,0,0.14),0 1px 0 0 rgba(0,0,0,0.12),0 5px 4px -1px rgba(0,0,0,0.2);
    -o-box-shadow: 0 10px 5px 5px rgba(0,0,0,0.14),0 1px 0 0 rgba(0,0,0,0.12),0 5px 4px -1px rgba(0,0,0,0.2);
    box-shadow: 0 10px 5px 5px rgba(0,0,0,0.14),0 1px 0 0 rgba(0,0,0,0.12),0 5px 4px -1px rgba(0,0,0,0.2);
}

.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    padding-top: 35px;
}

    .sidebar-nav li {
        text-indent: 20px;
        line-height: 50px;
        position: relative;
    }

        .sidebar-nav li:before {
            background-color: black;
            position: absolute;
            content: '';
            height: 100%;
            left: 0;
            top: 0;
            /*-webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;*/
            -webkit-transition: all 500ms cubic-bezier(0.755, 0.050, 0.855, 0.060);
            -moz-transition: all 500ms cubic-bezier(0.755, 0.050, 0.855, 0.060);
            -ms-transition: all 500ms cubic-bezier(0.755, 0.050, 0.855, 0.060);
            -o-transition: all 500ms cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition: all 500ms cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            -moz-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            -ms-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            -o-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            width: 3px;
            z-index: -1;
        }

        .sidebar-nav li:hover:before,
        .sidebar-nav li:focus:before,
        .sidebar-nav li.active:before,
        .sidebar-nav li.active:hover:before {
            width: 100%;
            color: #DD4827;
        }

        .sidebar-nav li a {
            /*color: #ffffff;*/
            color: white;
            display: block;
            text-decoration: none;
            font-weight: 900;
            position: relative;
            font-size: 14px;
        }

    .sidebar-nav .badge {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        text-indent: initial;
        /* background-color: #fbd634 !important;*/
        color: #ffffff;
    }
    .sidebar-nav li a:hover {
        background:black;
    }

    .sidebar-nav li a:hover .badge,
    .sidebar-nav li.active a:hover .badge,
    .sidebar-nav li.active a .badge {
        /*background-color: #ffffff !important;*/
        color: #DD4827;
        background: black;
    }

    .sidebar-nav li a .fa {
        text-indent: 0;
        width: 22px;
        margin-right: 15px;
        font-size: 22px;
        text-align: center;
        /*color: #ffffff;*/
        color: white;
    }

    .sidebar-nav li a:hover .fa,
    .sidebar-nav li.active a .fa,
    .sidebar-nav li.active a:hover .fa {
        /*color: #ffffff;*/
        color: #DD4827;
    }

    .sidebar-nav li a img {
        width: 22px;
        margin-right: 15px;
        /*filter: invert(1);*/
    }

    .sidebar-nav li a:hover,
    .sidebar-nav li.active a:hover,
    .sidebar-nav li.active a {
        /*background: #2F0909;*/
        /*background: #2F0909;*/
        /*color: #ffffff;*/
        color: #DD4827;
        text-decoration: none;
    }

        .sidebar-nav li a:hover img,
        .sidebar-nav li.active a:hover img,
        .sidebar-nav li.active a img {
            /*filter: invert(1);*/
        }

    .sidebar-nav li a:active,
    .sidebar-nav li a:focus {
        text-decoration: none;
    }

#sidebar-wrapper.sidebar-toggle {
    transition: all 0.3s ease-out;
    margin-left: -200px;
}

.no-ticket-btn {
    display: block;
    width: 80%;
    text-align: center;
    border-radius: 8px;
    margin: 10px auto;
    height: 40px;
    line-height: 38px;
    font-size: 16px;
    vertical-align: middle;
    color: white;
    /* background: linear-gradient(#5eb0d8, #295ca9);*/
}

    .no-ticket-btn:hover {
        /*background: linear-gradient(#295ca9,#5eb0d8);*/
        color: white;
        text-decoration: none;
    }

@media (min-width: 768px) {
    #sidebar-wrapper.sidebar-toggle {
        transition: 0s;
        left: 200px;
    }
}

.onMobileShow {
    display: none;
}

@media(max-width: 1199px) {
    .tableBox {
        float: none;
        overflow-x: auto;
    }

        .tableBox .nav-pills > li {
            float: none;
            display: table-cell;
            width: 1%;
            text-align: center;
        }

        .tableBox .pull-right.search {
            display: block;
            float: none !important;
            width: 100%;
            margin-top: 20px;
        }

        .tableBox .nav-tabs > li > a,
        .tableBox .nav-pills > li > a {
            padding: 10px 12px;
        }
}
.tableBox .nav-tabs > li > a:hover,
.tableBox .nav-pills > li > a:hover {
    background: #eb5a1a;
    color:black;
}

@media(max-width: 991px) {
    .tableBox {
        float: none;
        overflow-x: scroll;
    }

        .tableBox .nav.nav-pills {
            width: 100%;
            display: block;
            float: none;
        }

        .tableBox .nav-pills > li {
            float: none;
            display: table-cell;
            width: 1%;
        }

            .tableBox .nav-tabs > li > a,
            .tableBox .nav-pills > li > a {
                padding: 12px 6px;
                text-align: center;
            }

        .tableBox .pull-right.search {
            float: none !important;
            display: block;
            width: 100%;
            margin-top: 20px;
        }
}

@media(max-width: 767px) {
    .content-wrapper .container {
        width: auto;
    }

    .content-wrapper {
        padding-left: 0;
        overflow: initial;
    }

    #sidebar-wrapper {
        overflow: auto;
        top: 62px;
    }

    .sidebar-nav {
        padding-bottom: 40px;
        padding-top: 15px;
    }

        .sidebar-nav li {
            line-height: 35px;
        }

            .sidebar-nav li a {
                font-size: 14px;
            }

                .sidebar-nav li a .fa {
                    width: 18px;
                    margin-right: 12px;
                    font-size: 17px;
                }

                .sidebar-nav li a img {
                    width: 18px;
                    margin-right: 12px;
                }

        .sidebar-nav .badge {
            font-size: 12px;
        }

    .onMobileShow {
        display: block;
    }

    .not-authenticate, .content-wrapper {
        padding-bottom: 225px;
        background-position: center 96%;
        background-size: 180px;
    }

    .tableBox .nav-pills > li {
        float: none;
        display: inline-block;
        width: 24%;
        margin-bottom: 6px;
    }
}

@media(max-width: 550px) {
    .tableBox .nav-pills > li {
        float: left;
        display: inline-block;
        width: 49.3%;
        margin-bottom: 8px;
    }

    .tableBox .pull-right.search {
        clear: both;
    }
}
.pagination li a {
    background-color: black;
    color: white;
}
.pagination .active a {
    background-color: #DD4827;
}
/* ==========================================================================
   Hassan custom styles
   ========================================================================== */
.centered{

    float:none;
    margin:0 auto;
}
.h2_font {
    font-family: 'Arapey',serif;
    color: #051997;
    text-align: left;
    line-height: 1.2;
}
.underline{
    padding-bottom: 1rem;
}
    .underline .line {
        width: 5rem;
        height: 3px;
        background: #051997;
        display: inline-block;
    }
input.form-control {
width:100%;
max-width:100%;
}
select.form-control {
    width: 100%;
    max-width: 100%;
}
textarea.form-control {
    width: 100%;
    max-width: 100%;
}
font {
    font-family: 'Arapey',serif;
    font-size: 2.2rem;
    color: #051997;
   
}
h1_font {
    font-family: 'Arapey',serif;
    font-size: 7.5rem;
}
.panel-default >
.panel-heading {
    background-color: #ff0000;
    color: #051997;
    
    border: none;
    border-radius: 0;
}
.panel-default {
border:none;
}
    
    