
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @{
        Html.RenderPartial("_VisitorTopMenu");
    }
</div>

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2 centered">
                <div style="height:12px;"></div>
                <div class="well">
                    <h2 class="align-left h2_font"><strong>Sign In</strong></h2>
                    <div class="underline">
                        <div class="line"></div>
                    </div>
                    <form method="post" action="/auth">


                        <div class="form-group">
                            <label style="display:none;" for="username" class="control-label">Username</label>
                            <input type="text" class="form-control" id="txtusername" name="LoginForm[username]" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label style="display:none;" for="password" class="control-label">Password</label>
                            <input type="password" class="form-control" id="txtpassword" name="LoginForm[password]" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="LoginForm[remember]" value="1" id="remember">Remember me
                            </label>
                        </div>


                        <input type="hidden" name="_csrf" value="Oi06lb-nIJ_HW6kVGNUiZZNH4HWJ8qZHx9Nu3gq6iVRNaA-45cNT5qgP4yIt-Elc4nDSPfmZ_nWQhgHzXszgHA==">
                        @*<button type="submit" class="btn btn-primary">Sign in</button>*@
                        <input type="button" class="btn btn-primary" value="Sign in" onclick="LoginUser();" />
                        @* <span class="pull-right pull-right-middle">Do not have an account? <a href="/Visitor/SignUp">Sign up</a></span>*@
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
   

    <script src='https://www.google.com/recaptcha/api.js?hl=en'></script>



@section Scripts
{

    <script src="@Url.Content("~/Custom/JS/SignIn.js")"></script>
}